@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 255 255 255;
    --color-foreground: 15 23 42;
    --color-foreground-muted: 71 85 105;

    --color-primary: 3 105 161;
    --color-primary-foreground: 255 255 255;

    --color-secondary: 15 23 42;
    --color-secondary-foreground: 255 255 255;

    --color-input: var(--color-background);
    --color-input-foreground: var(--color-foreground);

    --color-border: 203 213 225;
    --color-border-vivid: var(--color-primary);

    --color-accent: var(--color-primary);
    --color-accent-foreground: var(--color-primary-foreground);

    --color-card: var(--color-background);
    --color-card-foreground: var(--color-foreground);

    --color-ring: 186 230 253;
  }
}
